<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-7">
      <h1>Карточки пользователей</h1>
      <ol>
        <li>Сделать компонент "карточка пользователя" (UserCard) можно найти готовый html/css шаблон, например вот этот -
          https://codepen.io/littlesnippets/pen/mVqNjw?editors=1100
        </li>
        <li>Сделать копку на карточке и по ее нажатию менять свет фона карточки на случайный.
        </li>
        <li>Передать объект пользователя в карточку (он может содержать произвольные поля, например: Имя, должность,
          аватар...)
        </li>
        <li>Вывести в основном компоненте 3 карточки и передать туда разных пользователей
        </li>
      </ol>
    </div>
  </div>
</div>

<app-card-user></app-card-user>
