<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-7">
      <h1>Карточки пользователей</h1>
      <ol>
        <li>Сделать компонент "карточка пользователя" (UserCard) можно найти готовый html/css шаблон, например вот этот
          -
          https://codepen.io/littlesnippets/pen/mVqNjw?editors=1100
        </li>
        <li>Сделать копку на карточке и по ее нажатию менять свет фона карточки на случайный.
        </li>
        <li>Передать объект пользователя в карточку (он может содержать произвольные поля, например: Имя, должность,
          аватар...)
        </li>
        <li>Вывести в основном компоненте 3 карточки и передать туда разных пользователей
        </li>
      </ol>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-4 pt-3" *ngFor="let user of users; let i = index">
      <!-- Card -->
      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="{{userImg}}"
                        alt="Card image cap" #targetImg
          ></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <ul class="list-group">
              <li class="list-group-item"><h2>{{user.name}}</h2></li>
              <li class="list-group-item">{{user.email}}</li>
              <li class="list-group-item">{{user.phone  }}</li>
            </ul>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </mdb-card-text>

          <a mdbBtn color="primary" mdbWavesEffect (click)="getImg(targetImg)">Button</a>
        </mdb-card-body>
      </mdb-card>
      <!-- Card -->

    </div>
  </div>
</div>
