<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-7">
      <mdb-card-title>
        <ul class="list-group">
          <li class="list-group-item"><h2>Оживляем письма и карточки пользоватей</h2></li>
          <li class="list-group-item">- С помощью Http сделать получение списка пользователей</li>
          <li class="list-group-item">- можно использовать либо наш тестовый API (http://test-api.javascript.ru/v1/),
            либо люобой другой (в том числе свой сервер)
          </li>
          <li class="list-group-item">- То же самое проделать с письмами</li>
          <li class="list-group-item">- Сделать сервис логирования, который будет логировать все обращения к сервисам
          </li>
          <li class="list-group-item">- Сделать сервис авторизации (только для хранения и проверки авторизации. саму
            авторизацию делать пока не нужно) Можно сделать просто кнопку [Login] по нажатию которой записывать в
            сервис, что пользователь авторизирован, и кнопку [Logout], которая делает обратное действие.
          </li>
          <li class="list-group-item">- Скрывать письма для "неавторизированных" пользователей</li>
        </ul>
      </mdb-card-title>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">

  </div>
</div>
