<!--&lt;!&ndash; Card &ndash;&gt;-->
<!--  <mdb-card>-->
<!--    <div class="view rgba-white-slight waves-light" mdbWavesEffect>-->
<!--      &lt;!&ndash; Card img &ndash;&gt;-->
<!--      <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"-->
<!--                    alt="Card image cap"></mdb-card-img>-->
<!--      <a>-->
<!--        <div class="mask"></div>-->
<!--      </a>-->
<!--    </div>-->
<!--    &lt;!&ndash;Card content&ndash;&gt;-->
<!--    <mdb-card-body>-->
<!--      &lt;!&ndash;Title&ndash;&gt;-->
<!--      <mdb-card-title>-->
<!--        <h4>{{user}}</h4>-->
<!--      </mdb-card-title>-->

<!--      &lt;!&ndash;Text&ndash;&gt;-->
<!--      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's-->
<!--        content.-->
<!--      </mdb-card-text>-->

<!--      <a mdbBtn color="primary" mdbWavesEffect>Button</a>-->
<!--    </mdb-card-body>-->
<!--  </mdb-card>-->
<!--&lt;!&ndash; Card &ndash;&gt;-->
